
services:
  backend:
    env_file:
      - .env
    build: ./backend
    ports:
      - "8000:8000"
    # depends_on:
      # - db
      # - redis
      # - rabbitmq
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=redis://redis:6379
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app

  # db:
  #   image: postgres:15
  #   restart: always
  #   environment:
  #     POSTGRES_USER: postgres
  #     POSTGRES_PASSWORD: password
  #     POSTGRES_DB: codeeditor
  #   ports:
  #     - "5432:5432"
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  #     - ./schema_dump.sql:/docker-entrypoint-initdb.d/schema_dump.sql

  # redis:
  #   image: redis:latest
  #   restart: always
  #   ports:
  #     - "6379:6379"

  # rabbitmq:
  #   image: rabbitmq:3-management
  #   restart: always
  #   ports:
  #     - "5672:5672"
  #     - "15672:15672"

# volumes:
#   postgres_data:
